<!-- Header -->
<header id="header" class="alt">
	<h1 id="logo"><a href="index.html"><span>databrew</span></a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="index.html">Home</a></li>
            <li class="current"><a href="about.html">About</a></li>
            <li class="current"><a href="blog.html">Blog</a></li>

            <li class="submenu">
                    <a href="#">Our Services</a>
				    <ul>
                    <li><a href="Rworkshops.html">R Workshops - Individuals</a></li>
				    <li><a href="Rbusiness.html">R Workshops - Businesses</a></li>
				    <li><a href="dataconsulting.html">Data Consulting</a></li>
				    </ul> 
				</li>  
			<li><a href="contact.html" class="button special">Contact Us</a></li>
		</ul>
	</nav>
</header>